@import '../../styles/base.scss';
    header{
        background: $background;
        @include heading;
        @include center;
        height: 100px;
        span{
            padding: 5px;
            margin-left: 10px;
            min-width: 200px;
        }
        .welcome{
           
            div{
                &:first-child{
                    text-align: center;
                }
            }
            button{
                width: 100px;
                border: solid;
            }
        }
    }

    .divider{
        box-shadow: 2px -3px 7px 0px rgba(0, 0, 124, .2);
        height: 2px;
        width: 90%;
        margin: 0 auto;
   
    }