.recipe {
  &-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 70px;
    margin-left: -55px;
    justify-content: flex-start;
  }
  &-card {
    margin: 10px;
    text-decoration: none;
    & > div {
      &:hover {
        background: rgba(229, 231, 238, 0.071);
      }
    }
  }
}
